.mode-selector-wrapper {
    padding: 1rem 0rem 1rem 1rem;
    align-self: flex-end;
}

.mode-selector-item {
    cursor: pointer;
}

.mode-selector-item.active {
    color: gray;
}

.door-numbers-list {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--gray-border-color);
    overflow: hidden;
}

.door-numbers-header {
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    border: 1px solid var(--gray-border-color);
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--admin-header-color);
}

.door-numbers-item {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-border-color);
    background-color: var(--row-color);

}

.door-numbers-item:last-child {
    border-bottom: none;
}

.door-numbers-item:nth-child(2n) {
    background-color: var(--alternated-row-color);
}


.delete-door-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--delete-button-color);
    border: 1px solid var(--gray-border-color);
    border-radius: 50%;
    cursor: pointer;
    padding: .3rem .75rem;
    gap: 1rem;


}