.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-overlay);
}

.overlay.sidebar {
    background-color: rgba(0, 0, 0, 0.715);

}

.overlay.dropdown {
    background-color: transparent;
}